# Final Project Phase 2 Summary
This Jupyter Notebook (.ipynb) will serve as the skeleton file for your submission for Phase 2 of the Final Project. Answer all statements addressed below as specified in the instructions for the project, covering all necessary details. Please be clear and concise in your answers. Each response should be at most 3 sentences. Good luck! <br><br>

Note: To edit a Markdown cell, double-click on its text.

## Jupyter Notebook Quick Tips
Here are some quick formatting tips to get you started with Jupyter Notebooks. This is by no means exhaustive, and there are plenty of articles to highlight other things that can be done. We recommend using HTML syntax for Markdown but there is also Markdown syntax that is more streamlined and might be preferable. 
<a href = "https://towardsdatascience.com/markdown-cells-jupyter-notebook-d3bea8416671">Here's an article</a> that goes into more detail. (Double-click on cell to see syntax)

# Heading 1
## Heading 2
### Heading 3
#### Heading 4
<br>
<b>BoldText</b> or <i>ItalicText</i>
<br> <br>
Math Formulas: $x^2 + y^2 = 1$
<br> <br>
Line Breaks are done using br enclosed in < >.
<br><br>
Hyperlinks are done with: <a> https://www.google.com </a> or 
<a href="http://www.google.com">Google</a><br>

# Data Collection and Cleaning
You are required to provide data collection and cleaning for the three (3) minimum datasets. Create a function for each of the following sections that reads or scrapes data from a file or website, manipulate and cleans the parsed data, and writes the cleaned data into a new file. 

Make sure your data cleaning and manipulation process is not too simple. Performing complex manipulation and using modules not taught in class shows effort, which will increase the chance of receiving full credit.

# Partner Names
Please add both you and your partner's names below. If you are working alone, obviously it would only be your name.
*   Partner 1: Maisa Basher
*   Partner 2 (If Applicable):

## Data Sources
Include sources (as links) to your datasets. Add any additional data sources if needed. Clearly indicate if a data source is different from one submitted in your Phase I, as we will check that it satisfies the requirements.
*   Downloaded Dataset Source: https://data.cityofchicago.org/Public-Safety/Crimes-2022/9hwr-2zxp/data
*   Web Collection #1 Source:
https://www.way.com/blog/chicagos-crime-rates/#:~:text=Statistics%20say%20that%20the%20crime,1%2C985%20crimes%20per %20100%2C000%20people.
*   Web Collection #2  https://www.neighborhoodscout.com/il/chicago/crime

## Downloaded Dataset Requirement

Fill in the predefined functions with your data scraping/parsing code. You may modify/rename each function as you seem fit, but you must provide at least 3 separate functions that clean each of your required datasets.

In [1]:
import pandas as pd
import random
import numpy as np
from bs4 import BeautifulSoup
import requests
import json
import plotly.express as px

In [2]:

def data_parser():
    df = pd.read_csv("Crimes2022.csv")
    # getting rid of unnecessary columns, 
    df = df.drop([ "IUCR", "FBI Code","Beat","Location", "Ward","X Coordinate", "Y Coordinate", "Updated On", "Latitude", "Longitude"], axis = 1)
    # removing the rows with null value [Since only necessary columns are considered]
    df = df.dropna()
    #Getting rid of rows that doesnt't specify crime type
    df = df[df["Primary Type"] != "OTHER OFFENSE"]
    
    #replacing community are col code with the actual community are name [later will calculate safest community]
    chicago_community_areas = {
    1: "Rogers Park", 2: "West Ridge", 3: "Uptown", 4: "Lincoln Square", 5: "North Center", 6: "Lake View", 7: "Lincoln Park",
    8: "Near North Side", 9: "Edison Park", 10: "Norwood Park", 11: "Jefferson Park", 12: "Forest Glen", 13: "North Park",
    14: "Albany Park", 15: "Portage Park", 16: "Irving Park",17: "Dunning", 18: "Montclare", 19: "Belmont Cragin", 20: "Hermosa",
    21: "Avondale", 22: "Logan Square", 23: "Humboldt Park", 24: "West Town", 25: "Austin", 26: "West Garfield Park", 27: "East Garfield Park",
    28: "Near West Side", 29: "North Lawndale", 30: "South Lawndale", 31: "Lower West Side", 32: "Loop", 33: "Near South Side", 34: "Armour Square",
    35: "Douglas", 36: "Oakland",37: "Fuller Park",38: "Grand Boulevard",39: "Kenwood",40: "Washington Park",41: "Hyde Park",42: "Woodlawn",
    43: "South Shore",44: "Chatham",45: "Avalon Park",46: "South Chicago",47: "Burnside",48: "Calumet Heights",49: "Roseland",50: "Pullman",
    51: "South Deering",52: "East Side",53: "West Pullman",54: "Riverdale",55: "Hegewisch",56: "Garfield Ridge", 57: "Archer Heights",
    58: "Brighton Park",59: "McKinley Park",60: "Bridgeport",61: "New City",62: "West Elsdon",63: "Gage Park",64: "Clearing",
    65: "West Lawn",66: "Chicago Lawn",67: "West Englewood",68: "Englewood",69: "Greater Grand Crossing", 70: "Ashburn", 71: "Auburn Gresham",
    72: "Beverly", 73: "Washington Heights", 74: "Mount Greenwood", 75: "Morgan Park", 76: "O'Hare", 77: "Edgewater",
}
    CA = df["Community Area"].tolist()
    caR = [];
    for i in CA:
        #print(i)
        caR.append(chicago_community_areas[i])
    df.drop(["Community Area"], axis=1)
    df["Community Area"] = caR 
    
    df.to_csv("Crimes2022_cleaned.csv")
    
    return df

  #pass

############ Function Call ############
data_parser()

,ID,Case Number,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,District,Community Area,Year
0,12589893,JF109865,01/11/2022 03:00:00 PM,087XX S KINGSTON AVE,SEX OFFENSE,INDECENT SOLICITATION OF A CHILD,RESIDENCE,False,True,4,South Chicago,2022
2,12601676,JF124024,01/13/2022 04:00:00 PM,031XX W AUGUSTA BLVD,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,RESIDENCE,False,True,12,Humboldt Park,2022
3,12785595,JF346553,08/05/2022 09:00:00 PM,072XX S UNIVERSITY AVE,SEX OFFENSE,SEXUAL EXPLOITATION OF A CHILD,APARTMENT,True,False,3,Greater Grand Crossing,2022
4,12808281,JF373517,08/14/2022 02:00:00 PM,055XX W ARDMORE AVE,SEX OFFENSE,AGGRAVATED CRIMINAL SEXUAL ABUSE,RESIDENCE,False,False,16,Jefferson Park,2022
5,12888104,JF469015,11/10/2022 03:47:00 AM,072XX S MAY ST,WEAPONS VIOLATION,RECKLESS FIREARM DISCHARGE,STREET,False,False,7,Englewood,2022
...,...,...,...,...,...,...,...,...,...,...,...,...
238979,13048511,JG231084,12/12/2022 12:00:00 PM,047XX N BROADWAY,DECEPTIVE PRACTICE,EMBEZZLEMENT,COMMERCIAL / BUSINESS OFFICE,False,False,19,Uptown,2022
238980,13043918,JG224367,10/01/2022 12:01:00 AM,051XX N NORTHWEST HWY,THEFT,FROM BUILDING,COMMERCIAL / BUSINESS OFFICE,False,False,16,Jefferson Park,2022
238981,13053472,JG236895,11/22/2022 11:00:00 AM,081XX S ARTESIAN AVE,DECEPTIVE PRACTICE,FORGERY,BANK,False,False,8,Ashburn,2022
238982,13062643,JG248264,04/12/2022 12:00:00 AM,074XX S WABASH AVE,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,3,Greater Grand Crossing,2022
238983,13099981,JG292625,03/01/2022 12:00:00 AM,019XX S WABASH AVE,BATTERY,SIMPLE,APARTMENT,False,False,1,Near South Side,2022

## Web Collection Requirement \#1

In [25]:

def web_parser1():
    x = "https://data.cityofchicago.org/api/views/gumc-mgzr/columns.json"
    
    response = requests.get(x)
    data = response.json()
    allData  = {}
    
    #adding necessary columns
    consideredCol = ["CASE_NUMBER","DATE", "BLOCK", "VICTIMIZATION_PRIMARY","INCIDENT_PRIMARY", "GUNSHOT_INJURY_I", "ZIP_CODE", "COMMUNITY_AREA", "DISTRICT", "AGE", "SEX", "RACE", "INCIDENT_FBI_DESCR", "VICTIMIZATION_IUCR_SECONDARY", "INCIDENT_IUCR_SECONDARY", "LOCATION_DESCRIPTION", "Police Districts", "Community Areas"]
    
    #the list in "cachedContents" for each key(col) is the thing I need to conduct analysis
    for d in data:
        if "cachedContents" in d and d["name"] in consideredCol:
            allData [d["name"]]= d["cachedContents"]
            
            
    json_object = json.dumps(allData )
    with open("ChicagoCrimeRates.json", "w") as outfile: 
        json.dump(allData , outfile)
        
    return allData
  #pass

############ Function Call ############
web_parser1()

{'CASE_NUMBER': {'non_null': '57710',
  'largest': 'Z699822',
  'null': '0',
  'top': [{'item': 'JG482761', 'count': '15'},
   {'item': 'JD305408', 'count': '15'},
   {'item': 'JF457168', 'count': '15'},
   {'item': 'JE168486', 'count': '14'},
   {'item': 'HW459047', 'count': '13'},
   {'item': 'JC555971', 'count': '13'},
   {'item': 'JE281830', 'count': '11'},
   {'item': 'JE262851', 'count': '10'},
   {'item': 'JA301703', 'count': '9'},
   {'item': 'JG361505', 'count': '9'},
   {'item': 'JF394963', 'count': '9'},
   {'item': 'HS431273', 'count': '9'},
   {'item': 'JE179906', 'count': '8'},
   {'item': 'JE255457', 'count': '8'},
   {'item': 'JB379745', 'count': '8'},
   {'item': 'JE309682', 'count': '8'},
   {'item': 'HW350944', 'count': '8'},
   {'item': 'JG455266', 'count': '8'},
   {'item': 'HT101536', 'count': '7'},
   {'item': 'JB397880', 'count': '7'}],
  'smallest': 'A000157',
  'count': '57710',
  'cardinality': '49275'},
 'DATE': {'non_null': '57710',
  'largest': '2023-11-09T21:20:00.000',
  'null': '0',
  'top': [{'item': '2023-10-29T01:04:00.000', 'count': '15'},
   {'item': '2021-03-14T04:41:00.000', 'count': '15'},
   {'item': '2022-10-31T21:20:00.000', 'count': '15'},
   {'item': '2020-07-21T18:24:00.000', 'count': '15'},
   {'item': '2019-12-22T00:34:00.000', 'count': '13'},
   {'item': '2013-09-19T22:14:00.000', 'count': '13'},
   {'item': '2021-06-27T22:56:00.000', 'count': '11'},
   {'item': '2021-06-12T02:05:00.000', 'count': '10'},
   {'item': '2022-09-13T19:46:00.000', 'count': '9'},
   {'item': '2017-06-11T03:14:00.000', 'count': '9'},
   {'item': '2023-07-30T00:51:00.000', 'count': '9'},
   {'item': '2010-07-26T21:14:00.000', 'count': '9'},
   {'item': '2021-03-26T00:08:00.000', 'count': '8'},
   {'item': '2013-07-06T17:50:00.000', 'count': '8'},
   {'item': '2021-06-06T03:59:00.000', 'count': '8'},
   {'item': '2021-07-21T23:55:00.000', 'count': '8'},
   {'item': '2018-08-05T00:39:00.000', 'count': '8'},
   {'item': '2023-10-08T02:36:00.000', 'count': '8'},
   {'item': '2022-03-13T15:18:00.000', 'count': '7'},
   {'item': '2011-01-02T01:39:00.000', 'count': '7'}],
  'smallest': '1991-01-01T00:20:00.000',
  'count': '57710',
  'cardinality': '48956'},
 'BLOCK': {'non_null': '57710',
  'largest': '9900 S YATES AVE',
  'null': '0',
  'top': [{'item': '6400 S DR MARTIN LUTHER KING JR DR', 'count': '95'},
   {'item': '3900 W GLADYS AVE', 'count': '50'},
   {'item': '5100 W MADISON ST', 'count': '48'},
   {'item': '800 E 79TH ST', 'count': '48'},
   {'item': '6600 S HALSTED ST', 'count': '48'},
   {'item': '2000 E 71ST ST', 'count': '47'},
   {'item': '900 E 79TH ST', 'count': '47'},
   {'item': '3300 W DOUGLAS BLVD', 'count': '46'},
   {'item': '4900 W HUBBARD ST', 'count': '46'},
   {'item': '3800 W GLADYS AVE', 'count': '45'},
   {'item': '1200 S LAWNDALE AVE', 'count': '43'},
   {'item': '3800 W ROOSEVELT RD', 'count': '42'},
   {'item': '6200 S DR MARTIN LUTHER KING JR DR', 'count': '42'},
   {'item': '4000 W WILCOX ST', 'count': '41'},
   {'item': '300 S CICERO AVE', 'count': '40'},
   {'item': '1300 W HASTINGS ST', 'count': '40'},
   {'item': '4100 W ADAMS ST', 'count': '39'},
   {'item': '0 S LEAMINGTON AVE', 'count': '38'},
   {'item': '3700 W CHICAGO AVE', 'count': '38'},
   {'item': '6300 S DR MARTIN LUTHER KING JR DR', 'count': '37'}],
  'smallest': '0 E 100 PL',
  'count': '57710',
  'cardinality': '15939'},
 'VICTIMIZATION_PRIMARY': {'non_null': '57710',
  'largest': 'ROBBERY',
  'null': '0',
  'top': [{'item': 'BATTERY', 'count': '34731'},
   {'item': 'HOMICIDE', 'count': '20835'},
   {'item': 'ROBBERY', 'count': '1823'},
   {'item': 'NON-FATAL', 'count': '318'},
   {'item': 'CRIMINAL SEXUAL ASSAULT', 'count': '2'},
   {'item': 'PUBLIC PEACE VIOLATION', 'count': '1'}],
  'smallest': 'BATTERY',
  'count': '57710',
  'cardinality': '6'},
 'INCIDENT_PRIMARY': {'non_null': '57710',
  'largest': 'ROBBERY',
  'null': '0',
  'top': [{'item': 'BATTERY', 'count': '33434'},
   {'item': 'HOMICIDE', 'count': '22456'},
   {'item': 'ROBBERY', 'count': '1815'},
   {'item': 'NON-FATAL', 'count': '4'},
   {'item': 'CRIMINAL SEXUAL ASSAULT', 'count': '1'}],
  'smallest': 'BATTERY',
  'count': '57710',
  'cardinality': '5'},
 'GUNSHOT_INJURY_I': {'non_null': '57710',
  'largest': 'YES',
  'null': '0',
  'top': [{'item': 'YES', 'count': '53542'}, {'item': 'NO', 'count': '4168'}],
  'smallest': 'NO',
  'count': '57710',
  'cardinality': '2'},
 'ZIP_CODE': {'non_null': '57705',
  'largest': '60827',
  'null': '5',
  'top': [{'item': '60624', 'count': '4180'},
   {'item': '60623', 'count': '3557'},
   {'item': '60628', 'count': '3394'},
   {'item': '60620', 'count': '3244'},
   {'item': '60644', 'count': '3046'},
   {'item': '60651', 'count': '3029'},
   {'item': '60619', 'count': '2983'},
   {'item': '60621', 'count': '2926'},
   {'item': '60636', 'count': '2915'},
   {'item': '60609', 'count': '2690'},
   {'item': '60637', 'count': '2625'},
   {'item': '60617', 'count': '2396'},
   {'item': '60612', 'count': '1912'},
   {'item': '60649', 'count': '1905'},
   {'item': '60629', 'count': '1897'},
   {'item': '60608', 'count': '1694'},
   {'item': '60639', 'count': '1203'},
   {'item': '60632', 'count': '1178'},
   {'item': '60653', 'count': '1096'},
   {'item': '60643', 'count': '1085'}],
  'smallest': '60601',
  'count': '57710',
  'cardinality': '58'},
 'COMMUNITY_AREA': {'non_null': '57705',
  'largest': 'WOODLAWN',
  'null': '5',
  'top': [{'item': 'AUSTIN', 'count': '4871'},
   {'item': 'NORTH LAWNDALE', 'count': '2792'},
   {'item': 'HUMBOLDT PARK', 'count': '2697'},
   {'item': 'WEST ENGLEWOOD', 'count': '2656'},
   {'item': 'ENGLEWOOD', 'count': '2528'},
   {'item': 'SOUTH SHORE', 'count': '2292'},
   {'item': 'AUBURN GRESHAM', 'count': '2190'},
   {'item': 'GREATER GRAND CROSSING', 'count': '2181'},
   {'item': 'WEST GARFIELD PARK', 'count': '2146'},
   {'item': 'ROSELAND', 'count': '2113'},
   {'item': 'NEW CITY', 'count': '1948'},
   {'item': 'EAST GARFIELD PARK', 'count': '1839'},
   {'item': 'CHICAGO LAWN', 'count': '1718'},
   {'item': 'SOUTH LAWNDALE', 'count': '1540'},
   {'item': 'WEST PULLMAN', 'count': '1501'},
   {'item': 'CHATHAM', 'count': '1389'},
   {'item': 'SOUTH CHICAGO', 'count': '1383'},
   {'item': 'NEAR WEST SIDE', 'count': '1313'},
   {'item': 'WOODLAWN', 'count': '1236'},
   {'item': 'GRAND BOULEVARD', 'count': '1049'}],
  'smallest': 'ALBANY PARK',
  'count': '57710',
  'cardinality': '77'},
 'DISTRICT': {'non_null': '57705',
  'largest': '25',
  'null': '5',
  'top': [{'item': '11', 'count': '6713'},
   {'item': '7', 'count': '5438'},
   {'item': '6', 'count': '4239'},
   {'item': '10', 'count': '4077'},
   {'item': '3', 'count': '4029'},
   {'item': '5', 'count': '3806'},
   {'item': '4', 'count': '3750'},
   {'item': '9', 'count': '3632'},
   {'item': '15', 'count': '3477'},
   {'item': '8', 'count': '3067'},
   {'item': '2', 'count': '2779'},
   {'item': '25', 'count': '2692'},
   {'item': '12', 'count': '2480'},
   {'item': '22', 'count': '1915'},
   {'item': '14', 'count': '1348'},
   {'item': '24', 'count': '857'},
   {'item': '17', 'count': '810'},
   {'item': '19', 'count': '734'},
   {'item': '18', 'count': '618'},
   {'item': '1', 'count': '563'}],
  'smallest': '1',
  'count': '57710',
  'cardinality': '22'},
 'AGE': {'non_null': '57710',
  'largest': 'UNKNOWN',
  'null': '0',
  'top': [{'item': '20-29', 'count': '24318'},
   {'item': '0-19', 'count': '13241'},
   {'item': '30-39', 'count': '11566'},
   {'item': '40-49', 'count': '4649'},
   {'item': '50-59', 'count': '2077'},
   {'item': '60-69', 'count': '765'},
   {'item': 'UNKNOWN', 'count': '674'},
   {'item': '70-79', 'count': '287'},
   {'item': '80+', 'count': '133'}],
  'smallest': '0-19',
  'count': '57710',
  'cardinality': '9'},
 'SEX': {'non_null': '57710',
  'largest': 'UNKNOWN',
  'null': '0',
  'top': [{'item': 'M', 'count': '49571'},
   {'item': 'F', 'count': '7475'},
   {'item': 'UNKNOWN', 'count': '664'}],
  'smallest': 'F',
  'count': '57710',
  'cardinality': '3'},
 'RACE': {'non_null': '57710',
  'largest': 'WWH',
  'null': '0',
  'top': [{'item': 'BLK', 'count': '44481'},
   {'item': 'WWH', 'count': '9539'},
   {'item': 'WHI', 'count': '2085'},
   {'item': 'UNKNOWN', 'count': '1002'},
   {'item': 'WBH', 'count': '334'},
   {'item': 'API', 'count': '240'},
   {'item': 'I', 'count': '29'}],
  'smallest': 'API',
  'count': '57710',
  'cardinality': '7'},
 'INCIDENT_FBI_DESCR': {'non_null': '57706',
  'largest': 'ROBBERY (INDEX)',
  'null': '4',
  'top': [{'item': 'AGGRAVATED BATTERY (INDEX)', 'count': '33434'},
   {'item': 'HOMICIDE - 1ST OR 2ND DEGREE (INDEX)', 'count': '22456'},
   {'item': 'ROBBERY (INDEX)', 'count': '1815'},
   {'item': 'CRIMINAL SEXUAL ASSAULT (INDEX)', 'count': '1'}],
  'smallest': 'AGGRAVATED BATTERY (INDEX)',
  'count': '57710',
  'cardinality': '4'},
 'VICTIMIZATION_IUCR_SECONDARY': {'non_null': '49298',
  'largest': 'VEHICULAR HIJACKING',
  'null': '8412',
  'top': [{'item': 'AGGRAVATED - HANDGUN', 'count': '34082'},
   {'item': 'FIRST DEGREE MURDER', 'count': '12591'},
   {'item': 'ARMED - HANDGUN', 'count': '951'},
   {'item': 'ATTEMPT ARMED - HANDGUN', 'count': '740'},
   {'item': 'AGGRAVATED - OTHER FIREARM', 'count': '325'},
   {'item': 'AGGRAVATED DOMESTIC BATTERY - HANDGUN', 'count': '220'},
   {'item': 'SECOND DEGREE MURDER', 'count': '150'},
   {'item': 'AGGRAVATED POLICE OFFICER - HANDGUN', 'count': '76'},
   {'item': 'AGGRAVATED VEHICULAR HIJACKING', 'count': '65'},
   {'item': 'ATTEMPT ARMED - OTHER FIREARM', 'count': '20'},
   {'item': 'AGGRAVATED', 'count': '17'},
   {'item': 'ATTEMPT AGGRAVATED', 'count': '15'},
   {'item': 'AGGRAVATED DOMESTIC BATTERY - OTHER FIREARM', 'count': '8'},
   {'item': 'ARMED - OTHER FIREARM', 'count': '8'},
   {'item': 'AGGRAVATED POLICE OFFICER - OTHER FIREARM', 'count': '7'},
   {'item': 'AGGRAVATED PROTECTED EMPLOYEE - HANDGUN', 'count': '6'},
   {'item': 'VEHICULAR HIJACKING', 'count': '5'},
   {'item': 'AGGRAVATED PROTECTED EMPLOYEE - OTHER FIREARM', 'count': '3'},
   {'item': 'AGGRAVATED - KNIFE / CUTTING INSTRUMENT', 'count': '2'},
   {'item': 'DOMESTIC BATTERY SIMPLE', 'count': '1'}],
  'smallest': 'AGGRAVATED',
  'count': '57710',
  'cardinality': '26'},
 'INCIDENT_IUCR_SECONDARY': {'non_null': '49605',
  'largest': 'VEHICULAR HIJACKING',
  'null': '8105',
  'top': [{'item': 'AGGRAVATED - HANDGUN', 'count': '32821'},
   {'item': 'FIRST DEGREE MURDER', 'count': '14197'},
   {'item': 'ARMED - HANDGUN', 'count': '943'},
   {'item': 'ATTEMPT ARMED - HANDGUN', 'count': '740'},
   {'item': 'AGGRAVATED - OTHER FIREARM', 'count': '298'},
   {'item': 'AGGRAVATED DOMESTIC BATTERY - HANDGUN', 'count': '217'},
   {'item': 'SECOND DEGREE MURDER', 'count': '158'},
   {'item': 'AGGRAVATED POLICE OFFICER - HANDGUN', 'count': '75'},
   {'item': 'AGGRAVATED VEHICULAR HIJACKING', 'count': '65'},
   {'item': 'ATTEMPT ARMED - OTHER FIREARM', 'count': '20'},
   {'item': 'AGGRAVATED', 'count': '17'},
   {'item': 'ATTEMPT AGGRAVATED', 'count': '15'},
   {'item': 'ARMED - OTHER FIREARM', 'count': '8'},
   {'item': 'AGGRAVATED DOMESTIC BATTERY - OTHER FIREARM', 'count': '8'},
   {'item': 'AGGRAVATED POLICE OFFICER - OTHER FIREARM', 'count': '6'},
   {'item': 'AGGRAVATED PROTECTED EMPLOYEE - HANDGUN', 'count': '6'},
   {'item': 'VEHICULAR HIJACKING', 'count': '5'},
   {'item': 'AGGRAVATED PROTECTED EMPLOYEE - OTHER FIREARM', 'count': '3'},
   {'item': 'ATTEMPT ARMED - OTHER DANGEROUS WEAPON', 'count': '1'},
   {'item': 'AGGRAVATED DOMESTIC BATTERY - OTHER DANGEROUS WEAPON',
    'count': '1'}],
  'smallest': 'AGGRAVATED',
  'count': '57710',
  'cardinality': '21'},
 'LOCATION_DESCRIPTION': {'non_null': '57710',
  'largest': 'YMCA',
  'null': '0',
  'top': [{'item': 'STREET', 'count': '23125'},
   {'item': 'SIDEWALK', 'count': '12036'},
   {'item': 'ALLEY', 'count': '3510'},
   {'item': 'APARTMENT', 'count': '3104'},
   {'item': 'AUTO', 'count': '2575'},
   {'item': 'RESIDENCE', 'count': '1083'},
   {'item': 'HOUSE', 'count': '1004'},
   {'item': 'RESIDENCE PORCH/HALLWAY', 'count': '958'},
   {'item': 'VEHICLE NON-COMMERCIAL', 'count': '848'},
   {'item': 'GAS STATION', 'count': '692'},
   {'item': 'PARK PROPERTY', 'count': '678'},
   {'item': 'PORCH', 'count': '627'},
   {'item': 'RESIDENTIAL YARD (FRONT/BACK)', 'count': '500'},
   {'item': 'YARD', 'count': '492'},
   {'item': 'PARKING LOT', 'count': '403'},
   {'item': 'PARKING LOT/GARAGE(NON.RESID.)', 'count': '402'},
   {'item': 'PARKING LOT / GARAGE (NON RESIDENTIAL)', 'count': '317'},
   {'item': 'RESIDENCE - PORCH / HALLWAY', 'count': '311'},
   {'item': 'VACANT LOT', 'count': '281'},
   {'item': 'CHA APARTMENT', 'count': '251'}],
  'smallest': 'ABANDONED BUILDING',
  'count': '57710',
  'cardinality': '180'}}

## Web Collection Requirement \#2

In [32]:
def web_parser2_1():
    
    url = "https://www.neighborhoodscout.com/il/chicago/crime"
    #url = "https://www.way.com/blog/chicagos-crime-rates/"
    resp = requests.get(url)
    soup = BeautifulSoup(resp.text, "html.parser")
    ol = soup.find("ol")
    safeNeighbourhood = ol.find_all("li")
    safeNeighbourhoodList = []
    
    for i in safeNeighbourhood:
        safeNeighbourhoodList.append(i.text.strip())
    
    df = pd.DataFrame()
    df["safest Neighbourhood in Chicago"] = safeNeighbourhoodList
    
    df.to_csv("safeNeighbourhoodChicago.csv")
    
    return df



############ Function Call ############
web_parser2_1()

  safest Neighbourhood in Chicago
0              Norwood Park South
1                   Beverly South
2               Forest Glen South
3               Dunning Northeast
4          Portage Park Northwest
5                    Dunning West
6                Forest Glen West
7                 North Park East
8            Belmont Heights West
9               Dunning Northwest

In [127]:
def web_parser2_2():
    url = "https://www.neighborhoodscout.com/il/chicago/crime"
    resp = requests.get(url)
    soup = BeautifulSoup(resp.text, "html.parser")
    data = soup.find("div", {"class": "table-responsive"})
    t = data.find("table")
    head = t.find_all("th")[1:]
    col = []
    for i in head:
        col.append(i.text.strip())
        
    data = t.find_all("p")
    r1 = []
    r2 = []
    index = []
    for i,v in enumerate(data):
        if i == 0 or i == 4:
            index.append(v.text.strip())
        elif i > 0 and i < 4:
            r1.append(v.text.strip())
        else:
            r2.append(v.text.strip())
            
    data = [r1 , r2]
    
    df = pd.DataFrame(data, columns = col)
    df.index = index
    df.to_csv("ChicagoCrime.csv")
    
    return df

############ Function Call ############
web_parser2_2()

                                    Violent Property   Total
Number of Crimes                     23,449   64,221  87,670
Crime Rate\n\n(per 1,000 residents)    8.70    23.82   32.51

In [30]:
def getTable(data, c, row):
    
    t = data.find("table")
    head = t.find_all("th")[1:]
    col = []
    for i in head:
        col.append(i.text.strip())
        
    data = t.find_all("td")
    r1 = []
    r2 = []
    index = []
    for i,v in enumerate(data):
        if i == 0 or i == (c):
            index.append(v.text.strip())
        elif i > 0 and i < (c):
            r1.append(v.text.strip())
        else:
            r2.append(v.text.strip())
            
    data = [r1 , r2]
    
    df = pd.DataFrame(data, columns = col)
    df.index = index
    
    return df

In [31]:
def web_parser2_3():
    
    url = "https://www.neighborhoodscout.com/il/chicago/crime"
    resp = requests.get(url)
    soup = BeautifulSoup(resp.text, "html.parser")
    tables = soup.find_all("div", {"class": "table-responsive"})
    
    # First table with US crime statisticts [MURDER, RAPE, ROBBERY, ASSAULT]
    usCrime1 = tables[2]
    
    # Second table with US crime statisticts [BURGLARY, THEFT, MOTOR, MOTOR VAHICLE THEFT]
    usCrime2 = tables[4]
    
    #getting dataframe
    df1 = getTable(usCrime1, 5, 2)
    df2 = getTable(usCrime2, 4, 2)
    
    #combining the tables
    uscombined = pd.concat([df1,df2], axis=1)
    
    return uscombined





############ Function Call ############
web_parser2_3()

,Murder,Rape,Robbery,Assault,burglary,theft,motor vehicle theft
Report Total,"22,941","144,285","202,155","943,774","899,656","4,626,970","890,179"
"Rate per 1,000",0.07,0.43,0.61,2.84,2.71,13.94,2.68

## Additional Dataset Parsing/Cleaning Functions

Write any supplemental (optional) functions here.

In [ ]:
def extra_source1():

    

    
############ Function Call ############
extra_source1()

In [ ]:
# Define further extra source functions as necessary

#Inconsistencies
For each inconsistency (NaN, null, duplicate values, empty strings, etc.) you discover in your datasets, write at least 2 sentences stating the significance, how you identified it, and how you handled it.

1. I had many empty rows in my CSV file. I identified it by manually looking at it. However, I realized for some columns empty value actually doesnt effect me as I can still use the row if other necessary columns are defined. To handle that, first I got rid of unnecessary columns. Then I am only left with necessary columns for my analysis where all rows needs to be defined. Since there were some empty rows in my necessary columns, I then got rid of those entire rows with empty value.

2. For my Json data, the list in "cachedContents" for each key(col) is the thing I need to conduct analysis combining with my csv file data. "cachedContents" provide the count of all different row value for each col. Some of the features doesnt have "cachedContents" which makes those columns useless. I identified it by by checking if "cachedContents" exists for the col before adding it to my output dictionary. 

3. In csv file, for some case incidents, the crime type is not specified.I identified it while going through the data. Considering these unspecified crime cases will lead to wrong calculation of crime rate for specific crime(that I plan on calculating on phase3). I decided to get rid of those crime cases where crime type is not reported.